---
title: Hjem
layout: default
permalink: /
---

<h1>Hjem</h1>
<section>
  <h2>Introduktion</h2>
  <p>
    Welkommen til min personlig Geocaching side! <br />
    Her kan du finde alle min Geocaches, som kræver dig til at komme på min
    hjemmeside.
  </p>
</section>
<section>
  <h2>Geocaches</h2>
  <ul>
    {% for cache in site.geocaches %}
    <li>
      <a href="{{ cache.url }}">{{ cache.title }}</a>
    </li>
    {% endfor %}
  </ul>
  <ul>
    {% for cache in site.geocaches-wip %}
    <li>
      <a href="{{ cache.url }}">{{ cache.title }}</a>
    </li>
    {% endfor %}
</section>
