<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/style.css" />
    <title>
      {% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}
    </title>
  </head>
  <body>
    <header>
      <h1>Xyfrux Geocaching</h1>
    </header>
    <main>{{ content }}</main>
    <footer>
      <div>
        <!-- WIP! -->
        <p>Contact</p>
        <a href="https://coord.info/pr1rzmvv">Geocaching</a>
        <a href="mailto:victor.stampe2010@gmail.com">Mail</a>
      </div>
    </footer>
  </body>
</html>
